---
---
/* Variable Overrides */

// Headers
$header-heading-color: #fff;
$header-bg-color: #00E3C6;
$header-bg-color-secondary: #4392D7;

// Text
$section-headings-color: #607998;
$body-text-color: #444444;
$body-link-color: #0E9AFF;
$blockquote-text-color: #6F7D8E;

@import "{{ site.theme }}";

.btn {
	display: inline-block;
	margin-bottom: 1rem;
	color: white;
	background-color: $body-link-color;
	border-style: none;
	border-width: 0px;
	border-radius: 0.3rem;
	transition: background-color 0.2s;

	&:hover {
	  text-decoration: none;
	  background-color: $blockquote-text-color;
	}

	// + .btn {
	//   margin-left: 1rem;
	// }

	// @include large {
	//   padding: 0.75rem 1rem;
	// }

	// @include medium {
	//   padding: 0.6rem 0.9rem;
	//   font-size: 0.9rem;
	// }

	// @include small {
	//   display: block;
	//   width: 100%;
	//   padding: 0.75rem;
	//   font-size: 0.9rem;

	//   + .btn {
	// 	margin-top: 1rem;
	// 	margin-left: 0;
	//   }
	// }
  }

  h3 {
	  color: $body-link-color;
  }

  ol {
	li {
		margin-bottom: 0.5rem;
	}
  }
